.sec {
  padding-top: 70px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .sec {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.inner {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1217px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1170px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1217px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

/*==========================
        import
============================*/
.underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
  font-weight: bold;
}

.braces {
  position: relative;
  text-align: center;
  max-width: 860px;
  padding: 35px 0;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 1217px) {
  .braces {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .braces {
    font-size: 18px;
  }
}

.braces::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.braces::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.bc-yellow {
  background-color: #ebb94d;
}

.bc-yellow2 {
  background-color: #fef5e0;
}

.btn {
  cursor: pointer;
  color: #fff;
  background-color: #da6b64;
  border-radius: 25px;
  text-decoration: none;
}

.btn:hover {
  background-color: #d84940;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 75px;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__left img {
  width: 128px;
  height: 44px;
  margin-bottom: -6px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__left p {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: text-bottom;
}

@media (max-width: 767px) {
  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__left img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80px;
  }
  .header__left p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 10px;
  }
}

.header__btn {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .header__btn {
    display: none;
  }
}

.header__btn a {
  padding: 14px 40px;
  text-align: center;
}

.header__form-btn {
  width: 75px;
  height: 60px;
  background-color: #da6b64;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 11px;
  text-align: center;
  display: none;
}

@media (max-width: 767px) {
  .header__form-btn {
    display: block;
  }
}

.header__form-btn img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__form-btn a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 12px;
}

.mv {
  margin-top: 75px;
  background-image: url(../img/main.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  .mv {
    margin-top: 60px;
    min-height: 310px;
  }
}

.mv__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.mv__contents h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.mv__contents img {
  width: 317px;
  margin-bottom: 60px;
}

.mv__contents p {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .mv__contents h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .mv__contents img {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .mv__contents p {
    font-size: 15px;
  }
}

.conversion {
  text-align: center;
}

.conversion .texm {
  font-size: 20px;
  color: #fff;
}

.conversion .texm p {
  margin-bottom: 15px;
}

.conversion .texm code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  font-weight: bold;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.conversion .texm .big-btn {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1217px) {
  .conversion .texm .big-btn {
    margin: 0 2%;
  }
}

.conversion .texm .big-btn a {
  padding: 30px 120px;
  max-width: 1028px;
  margin: 50px auto;
  display: block;
  border-radius: 50px;
}

.conversion .tex p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
}

.conversion .tex p:last-child {
  margin-bottom: 26px;
}

@media (max-width: 767px) {
  .conversion .tex p {
    display: none;
  }
}

.conversion .hyde-tex {
  display: none;
}

.conversion .hyde-tex p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
}

.conversion .hyde-tex p:last-child {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .conversion .hyde-tex {
    display: block;
  }
}

.conversion .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conversion .sns li {
  margin-right: 7px;
  padding: 3px;
  border-radius: 4px;
  background-color: #385898;
  cursor: pointer;
}

.conversion .sns li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 12px;
}

.conversion .sns .twitter {
  background-color: #1b95e0;
}

.introduction {
  background-image: url(../img/introbottom.jpg);
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.introduction .b {
  display: none;
}

@media (max-width: 767px) {
  .introduction {
    min-height: 770px;
  }
  .introduction .a {
    display: none;
  }
  .introduction .b {
    display: block;
  }
}

.introduction h2 {
  margin: 40px auto 50px;
}

.introduction p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.7;
}

@media (max-width: 767px) {
  .introduction p {
    font-size: 16px;
  }
}

.about {
  position: relative;
  background-color: #fef5e0;
}

.about h2 {
  margin: 0 auto 50px;
}

.about p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 40px;
}

.about__skill {
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.about__skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.about__skill .skills .skill-box {
  width: 130px;
  text-align: center;
  margin-right: 30px;
}

.about__skill .skills .skill-box:last-child {
  margin-right: 0px;
}

.about__skill .skills .skill-box p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.teacher {
  background-image: url(../img/teacherbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 90px 0 40px;
}

.teacher h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}

.teacher__p {
  text-align: center;
  font-size: 16px;
}

.teacher__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.teacher__contents-box {
  text-align: center;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.teacher__contents-box:last-child {
  margin-right: 0;
}

.teacher__contents-box .detail {
  padding: 40px;
  border: 3px solid #fff;
  height: 385px;
}

.teacher__contents-box img {
  border-radius: 50%;
  position: relative;
  top: 30px;
}

@media (max-width: 767px) {
  .teacher__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .teacher__contents-box {
    width: 100%;
  }
}
