.about-second{
  background-image: url(../img/aboutsecondbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  h2{
    font-size: 28px;
    color: #fff;
    margin-bottom: 34px;
    font-weight: bold;
  }
  p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: bold;
  }
  @include mq(tab){
    h2{
      font-size: 26px;
    }
    p{
      font-size: 16px;
    }
  }
  @include mq(sp){
    h2{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }
  .steps{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .step{
      background-color: #fff;
      padding: 30px;
      margin-right: 20px;
      border-radius: 5px;
      &:last-child{
        margin-right: 0px;
      }
      width: calc((100% - 40px)/3);
      p{
        color: #000;
        font-size: 16px;
      }
      .step-y{
        font-size: 16px;
        color: #fff;
        background-color: $yellow;
        border-radius: 5px;
        padding: 6px;
      }
    }
    @include mq('tab'){
      flex-direction: column;
      .step{
        margin: 0 0 20px 0;
        width: 50%;
      }
    }
    @include mq('sp'){
      .step{
        width: 90%;
        height: 100px;
        padding: 10px;
        p{
          font-size: 14px;
          margin-bottom: 10px;
        }
        .step-y{
        font-size: 14px;
        color: #fff;
        background-color: $yellow;
        border-radius: 5px;
        padding: 3px;
        margin-bottom: 10px;
      }
      }
    }
  }
}
.about-third{
  background-color: $blue;
  color: #fff;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  @include mq(tab){
    font-size: 16px;
    padding: 30px;
  }
  @include mq(sp){
    font-size: 14px;
    padding: 20px;
  }
}