.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: 75px;
  @include mq("sp"){
    height: 60px;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: flex-end;
    img {
      width: 128px;
      height: 44px;
      margin-bottom: -6px;
      object-fit: contain;
    }
    p {
      margin-left: 5px;
      font-size: 14px;
      font-weight: bold;
      vertical-align: text-bottom;
    }
    @include mq("sp") {
      flex-direction: column;
      align-items: flex-start;
      img {
        order: 2;
        width: 80px;
      }
      p {
        order: 1;
        font-size: 10px;
      }
    }
  }
  &__btn {
    font-size: 14px;
    font-weight: 300;

    @include mq("sp") {
      display: none;
    }
    a {
      padding: 14px 40px;
      text-align: center;
    }
  }

  &__form-btn {
    width: 75px;
    height: 60px;
    background-color: $red;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 11px;
    text-align: center;
    display: none;
    @include mq("sp") {
      display: block;
    }
    img {
      width: 20px;
      object-fit: contain;
    }
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 12px;
    }
  }
}
