.mv {
  margin-top: 75px;
  background-image: url(../img/main.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  @include mq("sp") {
    margin-top: 60px;
    min-height: 310px;
  }
  &__contents {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    img {
      width: 317px;
      margin-bottom: 60px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }
    @include mq('sp'){
      h2{
        font-size: 18px;
        margin-bottom: 10px;
      }
      img{
        margin-top: 20px;
        margin-bottom: 40px;
      }
      p{
        font-size: 15px;
      }
    }
  }
}
